<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>988825721106-492co5ihes2k9n1i15o4ihr1r46fgpn6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988825721106-492co5ihes2k9n1i15o4ihr1r46fgpn6</string>
	<key>API_KEY</key>
	<string>AIzaSyBeOF2d2yEtQgQuvxdyWUyt4QDmjipW4W8</string>
	<key>GCM_SENDER_ID</key>
	<string>988825721106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuatroochenta.mealsOnWheels</string>
	<key>PROJECT_ID</key>
	<string>mealsonwheels-2daf0</string>
	<key>STORAGE_BUCKET</key>
	<string>mealsonwheels-2daf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988825721106:ios:7716b0e45d3e6f29</string>
	<key>DATABASE_URL</key>
	<string>https://mealsonwheels-2daf0.firebaseio.com</string>
</dict>
</plist>